<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File" name="file" fileName="logs/${shortdate}.log" />
	</targets>

	<rules>
		<logger name="AppLogger" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>
